 <div class="ironsworn-character-stats">
    <div class="edge">
        <h3>Edge</h3>
        <h4>{{ edge }}</h4>
    </div>
    <div class="heart">
        <h3>Heart</h3>
        <h4>{{ heart }}</h4>
    </div>
    <div class="iron">
        <h3>Iron</h3>
        <h4>{{ iron }}</h4>
    </div>
    <div class="shadow">
        <h3>Shadow</h3>
        <h4>{{ shadow }}</h4>
    </div>
    <div class="wits">
        <h3>Wits</h3>
        <h4>{{ wits }}</h4>
    </div>
</div>

 <div class="ironsworn-character-stats">
    <div class="health">
        <h3>Health</h3>
        <h4>{{ health }}</h4>
    </div>
    <div class="spirit">
        <h3>Spirit</h3>
        <h4>{{ spirit }}</h4>
    </div>
    <div class="supply">
        <h3>Supply</h3>
        <h4>{{ supply }}</h4>
    </div>
    <div class="momentum">
        <h3>Momentum</h3>
        <h4>{{ momentum }}</h4>
    </div>
</div>
