<dv class="ironsworn-character-special-tracks">
    {% if Quests_XPEarned >= 0 %}
    <div class="quest-xp">
        <h2>Quest XP: {{Quests_XPEarned}}</h2>
        <ul class="track">
        {% for i in questXp %}
            <li class="{{i}}"></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if Bonds_XPEarned >= 0 %}
    <div class="bond-xp">
        <h2>Bond XP: {{Bonds_XPEarned}}</h2>
        <ul class="track">
        {% for i in bondsXp %}
            <li class="{{i}}"></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if Discoveries_XPEarned >= 0 %}
    <div class="discovery-xp">
        <h2>Discovery XP: {{Discoveries_XPEarned}}</h2>
        <ul class="track">
        {% for i in discXp %}
            <li class="{{i}}"></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
