<div class="ironsworn-block ironsworn-character-info">
    <h1>{{ name }}</h1>
    {%- if callsign -%}
    <h2>Callsign: {{callsign}}</h2>
    {%- endif -%}
    <h2>Pronouns: {{pronouns}}</h2>
    <h2>Player: {{player}}</h2>
    <h2>Description</h2>
    <p>
        {{description}}
    </p>
</div>
