<div class="ironsworn-block ironsworn-meter">
    <span class="meter-name">{{ blockTitle }}</span>: <span class="delta {{ 'negative' if isNeg else 'positive' }}">{{"+" if not isNeg}}{{ delta }}</span> -- {{ properties.from }} -> {{ properties.to }}
</div>