<div class="ironsworn-block ironsworn-move">
    <h2>{{blockTitle | capitalize}}</h2>
    <div class="move-type">
    </div>
    {%- if roll -%}
        {%- if adds -%}
        <div class="ironsworn-move-adds">
            {%- for add in adds %}
                <h4>{{add.values[1]}}: +{{add.values[0]}}</h4>
            {% endfor -%}
        </div>
        {%- endif -%}
    <h3 class="ironsworn-move-result ironsworn-move-result-{{rollstatus | replace(' ', '-') | lower }}">
        {{ rollstatus }}
    </h3>
    <div class="ironsworn-move-rolls">
        <span class="roll-prop roll-numeric">Roll: <br> {{ roll.properties.action }}</span>
        <span class="roll-operator">+</span>
        <span class="roll-prop roll-numeric">Adds: <br> {{ roll.properties.adds }}</span>
        <span class="roll-operator">+</span>
        <span class="roll-prop roll-numeric">Stat: <br> {{ roll.properties.stat }} </span>
        <span class="roll-operator">=</span>
        <span class="roll-prop roll-numeric">Total: <br> {{ roll.properties.adds + roll.properties.stat +
            roll.properties.action }}</span>
        <span class="vs-label">vs.</span>
        <span class="vs1 roll-vs roll-numeric">{{ roll.properties.vs1 }}</span>
        <span class="vs2 roll-vs roll-numeric">{{ roll.properties.vs2 }}</span>
    </div>
    {%- endif -%}
</div>
