<div class="ironsworn-block ironsworn-oracle">
    <h2>{{blockTitle | capitalize}}</h2>
    <div class="oracle-roll-number">{{roll}}</div>
    <div class="oracle-result">
        {{result}}
    </div>
</div>