 <div class="ironsworn-block ironsworn-progress-roll">
    <span class="roll-prop roll-numeric">Progress Roll: <br> {{ roll.properties.score }}</span>
    <span class="vs-label">vs.</span>
    <span class="vs1 roll-vs roll-numeric">{{ roll.properties.vs1 }}</span>
    <span class="vs2 roll-vs roll-numeric">{{ roll.properties.vs2 }}</span>
</div>